@import 'variables';
.img{
    width: 25%;
}
h1{
    color: $white;
    text-align: center;
    font-size: 5vw;
}
.header{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
}
.header nav{
    display: flex;
    justify-content: flex-end;
    width: 25%;
}
.header nav a{
    padding: 1%;
    color: $white;
    text-decoration: none;
    line-height: 2;
    width: 50%;
    text-align: center;
    display: inline-block;
}
.header nav a:hover {
    background: $header;
    color: $white;
}
#sun{
    display: none;
}