@import 'variables';

h1{
    color: $white;
    text-align: center;
    font-size: 5vw;
}
.header{
    background: black;;
    display: flex;
    align-items: center;
}
.header nav{
    display: flex;
    justify-content: flex-end;
}
.header nav a{
    padding: 7%;
    color: $white;
    text-decoration: none;
    line-height: 2;
    width: 30%;
    text-align: center;
    display: inline-block;
}
.header nav a:hover {
    background: $header;
    color: $white;
}
#sun{
    display: none;
}