@import 'cssreset';
@import 'header';
@import 'svg';
@import 'menu';
@import 'mediaquery';
@import 'socialnetwork';
@import 'variables';

html, *{
    box-sizing: border-box;
    width: 100%;
}
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'RobotoDraft';
    line-height: 1.6;
}